.layout {
}
.slider {
  color: white !important;
  background-color: #001529 !important;
}

.content {
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 32px;
}

.ant-menu > .ant-menu-item-selected {
  background-color: #ffffff !important;
}

.customclass {
  background-color: #b039cc !important;
}
